body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.titulo {
    text-align: center;
    text-shadow: #333;
    padding-top: 30px;
}

.card{
    
}
